<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.userMapper"> <!-- namespace에 있는 이름은 각각 달라야 함 -->
	<select id="list" resultType="userVO"> <!-- 아이디를 지정해야 오류가 나지 않음 -->
		SELECT uidx
		, id
		, password
		, name
		, addr
		, phone
		, rdate 
		FROM usertb
	</select>
	
	<select id="selectByUidx" parameterType="int" resultType="UserVO">
		SELECT uidx
		, id
		, password
		, name
		, addr
		, phone
		, rdate 
		FROM usertb
		WHERE uidx = #{uidx}
	</select>
	
	<update id="updateByUidx" parameterType="UserVO">
		UPDATE usertb
		SET id = #{id}
		, name = #{name}
		, addr = #{addr}
		, phone = #{phone}
		WHERE uidx = #{uidx}
	</update>
	
	<select id="login" parameterType="UserVO" resultType="UserVO">
		SELECT uidx
		, id
		, password
		FROM usertb
		WHERE id = #{id}
		AND password = #{password}
	</select>
	
	<select id="selectById" parameterType="String" resultType="int">
	SELECT count(*)
	FROM usertb
	WHERE id = #{id}
	</select>
	
	<insert id="join" parameterType="UserVO">
	INSERT INTO usertb (
		uidx
		, id
		, password
		, name
		, addr
		, phone
		, rdate
	)VALUES(
		uidx_seq.nextval
		, #{id}
		, #{password}
		, #{name}
		, #{addr}
		, #{phone}
		, sysdate
	)
	</insert>

</mapper> 